<!DOCTYPE html>
html
  head
    meta(charset="utf-8")
    title #{title}
    link(rel="icon" type="image/png" href="/img/favicon.png")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.1/css/simple-line-icons.css")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet" type="text/css")
    link(href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css')
    link(href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet" type="text/css")
    link(href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,900' rel='stylesheet' type='text/css')
    link(href="/stylesheets/main.css" rel="stylesheet" media="screen")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
  body
    .pageContainer
      nav
        .header Ben Hernandez
        .links
          .link(class=typeof homeActive === "undefined" ? '' : "active")
            a(href="/") Work
          .link(class=typeof blogActive === "undefined" ? '' : "active")
            a(href="/blog") Blog
          .link(class=typeof contactActive === "undefined" ? '' : "active")
            a(href="/contact") Contact
          .link.social
            a(href="http://linkedin.com/in/benaychh")
              i.icon-social-linkedin.icons
            a(href="http://github.com/benaychh")
              i.icon-social-github.icons
      block content
    script(src="/javascripts/main.js")
    script(src="/javascripts/plugins/fastclick/fastclick.js")
    script(src="/javascripts/plugins/smooth-scroll/jquery.smooth-scroll.min.js")
    script(src="/javascripts/plugins/mixitup/jquery.mixitup.min.js")
